@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16vmin;
  z-index: 1;
  background-color: #fff;
  position: sticky;
  top: 0;
}
#header img {
  margin: 0% 5%;
}
#header ul {
  width: 100%;
  height: 80%;
  display: flex;
  margin: 0% 5%;
  flex: 1;
  align-items: center;
  justify-content: end;
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#header ul a {
  margin: 0 4%;
  text-decoration: none;
}
#header ul a:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}
#header ul button {
  width: 10%;
  height: 40%;
  background-color: hsl(0, 94%, 66%);
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
}
#header ul button:hover {
  background-color: transparent;
  border: 1px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}
#header #hambuger {
  display: none;
}

#sec-a {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 5% 5%;
}
#sec-a img {
  width: 80%;
}
#sec-a .a-cont {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 0 4%;
}
#sec-a .a-cont h2 {
  font-size: 6vmin;
  margin-top: 13%;
}
#sec-a .a-cont p {
  margin-top: 6%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
}
#sec-a .a-cont .btn {
  display: flex;
  align-items: center;
  margin-top: 6%;
  width: 100%;
  height: 10%;
}
#sec-a .a-cont .btn button {
  margin: 0 3% 0 0%;
  height: 100%;
  width: 35%;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 2px rgb(188, 188, 188);
}
#sec-a .a-cont .btn #btn1 {
  background-color: hsl(231, 69%, 60%);
  color: white;
}
#sec-a .a-cont .btn #btn1:hover {
  background-color: transparent;
  border: 1px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}
#sec-a .a-cont .btn button:hover {
  border: 1px solid;
  cursor: pointer;
  background-color: white;
}

.background {
  width: 35%;
  height: 60%;
  position: absolute;
  border-radius: 40% 0% 0% 40%;
  right: 0;
  bottom: -17px;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
}

#sec-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6%;
}
#sec-b h2 {
  font-size: 6vmin;
}
#sec-b p {
  color: grey;
  text-align: center;
  width: 40%;
  margin-top: 2%;
}
#sec-b #tabs {
  transition: 0.5s all;
  margin-top: 4%;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec-b #tabs .background-2 {
  width: 35%;
  height: 50%;
  position: absolute;
  border-radius: 0% 40% 40% 0%;
  left: 0;
  bottom: -130%;
  z-index: -1;
  background-color: hsl(231, 69%, 60%);
}
#sec-b #tabs #tabs-header {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-bottom: 4%;
  height: 15%;
}
#sec-b #tabs #tabs-header h3 {
  margin: 0 4%;
  font-size: medium;
  cursor: pointer;
  padding-bottom: 3%;
}
#sec-b #tabs #tabs-header h3:hover {
  color: hsl(0, 94%, 66%);
}
#sec-b #tabs .tab-content {
  margin-top: 5%;
  display: flex;
  width: 80%;
  height: 70vmin;
  align-items: stretch;
  justify-content: center;
}
#sec-b #tabs .tab-content img {
  width: 55%;
}
#sec-b #tabs .tab-content .content-para {
  display: flex;
  width: 40%;
  margin-left: 5%;
  flex-direction: column;
  align-items: start;
  justify-content: stretch;
}
#sec-b #tabs .tab-content .content-para h2 {
  font-size: 5vmin;
}
#sec-b #tabs .tab-content .content-para p {
  width: 85%;
  margin-top: 4%;
  text-align: left;
}
#sec-b #tabs .tab-content .content-para button {
  width: 25%;
  height: 12%;
  border: none;
  background-color: hsl(231, 69%, 60%);
  border-radius: 1vmin;
  box-shadow: 1px 2px 9px 3px grey;
  margin-top: 4%;
}
#sec-b #tabs .tab-content .content-para button:hover {
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
}

.adding-border {
  border-bottom: 3px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

#sec-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sec-c p {
  margin-top: 2%;
  width: 40%;
  color: grey;
  text-align: center;
}
#sec-c .c-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60vmin;
}
#sec-c .c-content .boxtwo {
  top: 25px;
}
#sec-c .c-content .boxthree {
  top: 50px;
}
#sec-c .c-content .boxes {
  box-shadow: 1px 2px 20px 0.5px rgb(188, 188, 188);
  width: 15%;
  height: 60%;
  border-radius: 10px;
  margin: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#sec-c .c-content .boxes span {
  margin-top: 5%;
  font-weight: 700;
}
#sec-c .c-content .boxes p {
  font-size: 70%;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 4%;
  text-align: center;
  border-bottom: 1px solid rgb(202, 202, 202);
}
#sec-c .c-content .boxes button {
  width: 85%;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  height: 15%;
  margin-top: 5%;
  font-size: 70%;
  border-radius: 4px;
}
#sec-c .c-content .boxes button:hover {
  background-color: white;
  border: 1px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

#sec-d {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#sec-d h2 {
  width: 45%;
  margin-top: 5%;
}
#sec-d p {
  color: grey;
  margin-top: 2%;
  width: 45%;
}
#sec-d .d-content {
  width: 50%;
  margin-top: 10%;
  display: grid;
  place-items: center;
}
#sec-d .d-content .QA {
  display: grid;
  place-items: center;
  width: 80%;
  padding: 3% 0%;
  border-top: 0.5px solid rgb(164, 164, 164);
  text-align: left;
  grid-template-columns: 10fr 1fr;
}
#sec-d .d-content .QA h5 {
  font-size: 95%;
  width: 100%;
}
#sec-d .d-content .QA p {
  font-size: 80%;
  margin: 4% 0%;
  color: gray;
  display: none;
  width: 100%;
}
#sec-d .d-content .QA img {
  width: 15px;
}
#sec-d .d-content .QA:hover {
  color: hsl(0, 94%, 66%);
}
#sec-d button {
  height: 6vmin;
  border: none;
  width: 6%;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border-radius: 8px;
  margin: 3% 0%;
}

#sec-e {
  margin-top: 5%;
  display: grid;
  place-items: center;
  text-align: center;
  height: 40vh;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}
#sec-e h6 {
  margin-top: 3%;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#sec-e h1 {
  width: 40%;
}
#sec-e .infobox {
  width: 100%;
  height: 100%;
}
#sec-e .infobox input {
  padding-left: 1%;
  width: 20%;
  height: 60%;
  border: 1px solid transparent;
  margin-right: 1%;
}
#sec-e .infobox button {
  height: 60%;
  border: 1px solid transparent;
  width: 6%;
}
#sec-e .infobox input:hover {
  border: 2px solid hsl(0, 94%, 66%);
}
#sec-e .infobox button:hover {
  border: 2px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

.footer {
  height: 10vmin;
  background-color: hsl(229, 31%, 21%);
  display: flex;
  align-items: center;
}
.footer img {
  margin: 0% 2% 0% 1%;
}
.footer ul {
  flex: 3;
  margin-left: 2%;
}
.footer ul li {
  display: inline-block;
  margin-right: 2%;
  list-style: none;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #header ul {
    display: none;
  }
  #header #logobook {
    width: 40%;
  }
  #header #hambuger {
    width: 6%;
    display: block;
  }
  #sec-a {
    flex-direction: column-reverse;
  }
  #sec-a img {
    width: 100%;
  }
  #sec-a .a-cont {
    width: 100%;
    margin: 0% 0%;
    text-align: center;
    align-items: center;
  }
  #sec-a .a-cont h2 {
    width: 100%;
    font-size: xx-large;
  }
  #sec-a .a-cont .btn {
    justify-content: center;
    height: 7vmin;
  }
  #sec-b h2 {
    margin-top: 4%;
  }
  #sec-b p {
    margin-top: 4%;
    width: 70%;
  }
  #sec-b #tabs {
    height: auto;
  }
  #sec-b #tabs #tabs-header {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #sec-b #tabs #tabs-header h3 {
    margin-bottom: 2%;
    padding: 2%;
  }
  #sec-b #tabs .tab-content {
    flex-direction: column;
    height: auto;
  }
  #sec-b #tabs .tab-content img {
    width: 100%;
  }
  #sec-b #tabs .tab-content .content-para {
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  #sec-b #tabs .tab-content button {
    display: none;
  }
  #sec-c {
    margin-top: 5%;
    height: -moz-max-content;
    height: max-content;
  }
  #sec-c p {
    width: 80%;
    margin-bottom: 5%;
  }
  #sec-c .c-content {
    flex-direction: column;
    height: auto;
  }
  #sec-c .c-content .boxes {
    width: 70%;
    height: 340px;
    margin-bottom: 4%;
  }
  #sec-d {
    margin-top: 20%;
  }
  #sec-d p {
    width: 80%;
  }
  #sec-d .d-content {
    width: 100%;
  }
  #sec-d button {
    width: 15%;
  }
  #sec-e h1 {
    width: 90%;
  }
  #sec-e .infobox input {
    width: 60%;
  }
  #sec-e .infobox button {
    width: 25%;
  }
  .footer {
    font-size: small;
  }
}
#MenuBox {
  background-color: rgba(212, 212, 212, 0.7450980392);
  height: 0vh;
  width: 100vw;
  transition: 0.2s;
  font-size: 0vmax;
  position: sticky;
  top: 16vmin;
}
#MenuBox ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#MenuBox ul li {
  font-size: 100%;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MenuBox ul li a {
  font-size: 100%;
  text-decoration: none;
}
#MenuBox ul li:hover {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}
#MenuBox ul button {
  width: 70%;
}/*# sourceMappingURL=index.css.map */